Repository Die-KoMa/die-koma.org, pull requests merged in 2024-07, with the labels that each got.

#257 Drop superfluous extlink icon in next KoMa box
  flake.nix
  src/components/ExtLink.astro
  src/components/NextKoMa.astro
Labels: Aktuelle KoMa

#258 Add `target="_blank"` for ExtLink
  src/components/ExtLink.astro
Labels: bug

#259 Typo korrigiert (Förderverein)
  src/pages/foerderverein/index.mdx
Labels: Förderverein
